:root {
    /* Aquí están todas las variables */
    --rosatucarrera: #F76666;
    --negrotucarrera: #02052F;
    --fuentetucarrera: sans-serif;
    --font-family: 'Babylonica', cursive;
    /* Fuente copiada de Google fonts */
}

/* Esta relación hace que un rem == 10 px */
html {
    font-size: 62.5%;
}

/* Esta relación hace que un rem == 10 px */
body {
    font-size: 16px;
}


/* a{
    color: blue !important;
} */


/* CONTENEDOR */

.contenedor {
    /* Está en el body, le da estructura a toda la página */
    width: 114rem;
    /* 1140 px */

    /* Objetivo, centrar el contenido */
    margin-top: 0;
    margin-right: auto;
    /* Hace que el contenido quede centrado en caso de que la pantalla sea más      
                                       grande */
    margin-bottom: 0;
    margin-left: auto;
    /* Si es más pequeño entra los queris */
    /* 
    margin: 0 auto 0 auto;             Es exactamente igual  
    margin: 0 auto;                    Es exactamente igual */

    /* Que la clase contenedor no se aplique a la sección de imagen */
    /* Ir sección a sección seleccionando si me interesa */
    /* En vez de aplicarlo al body, lo aplicamos a cada sección */

}





/* MENÚ DE NAVEGACIÓN */

.nav-margin {
    background-color: var(--rosatucarrera);
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-padding {
    background-color: var(--rosatucarrera);
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-principal {
    padding: 15px 0px 10px; /* Si no se pone nada al final, se entiende que es 0 */
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.Login {
    flex: 100%;
    max-width: 100%;
    background-color: transparent;
    /* text-align: right; */
    /* margin-left: 500px; */ 
}

.Login a {
    color: var(--rosatucarrera);
    font-family: sans-serif;
    /* float: right; */
}

.posicion-imagen {
    flex: 33.33%;
    max-width: 33.33%;
}


.navegacion a {
    color: black;
    text-decoration: none;
    /* background-image: ; */
}

.paginas {
    flex: 66.66%;
    max-width: 66.66%;
}




/* SECCIÓN 1 */

.banner {

    background-image: url(../img/banner.png);
    /* padding-top: 80px;
    padding-bottom: 180px;
    background-size: cover;
    background-position: top left; */
}

.contenedor h1 {
    background-color: rgba(248, 102, 102, 0.65);
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 47px;
    padding: 35px;
    color: white;
    line-height: 1.2;
    text-align: left;
}

.boton-cursos {
    color: white;
    background-color: var(--negrotucarrera);
    text-decoration: none;
    font-weight: 550;
    float: right;
    padding: 24px 94px;
    font-family: "DinBold", sans-serif;
    text-transform: uppercase;
}

/* LOGOS */

/* .logos{
    margin-top: -120px;
    background-color: white;
    flex-wrap: wrap;
    text-align: center;
}

.logos-oficiales{
    max-width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
} */






/* LOCALIZACIONES */

.localizaciones {
    color: white;
    background-color: black;
}

/* CONTACTAR */

.contactar {
    text-align: center;
    background-color: var(--rosatucarrera);
}











/* h2{                                Seletor de elemento 
     color:red; 
     text-align: center; 
     background-color: #F76666; 
     text-transform: uppercase;  Escribe todo en mayúsculas. Capitalize para poner la primera de cada palabra en mayúscula, 
     margin:200px 200px 0px 0px;  margin-top ; margin-right ; margin-bottom ; margin-left === margin:200px 200px 200px 200px 
     padding-top: 500px; 
     padding-bottom: 500px; 
} */

/* h3{
    padding: 100px;
    margin: 100px;
    background-color:greenyellow;
} */



/* #boli{
    background-color: blue;
} */

.descendentes p,
h2 {
    /* Se puede poner con > p o sin. 
                                          El > selecciona todos
                                          Con la , podemos añadir más elementos */
    text-transform: uppercase;
}





/* .Hola1{
    background-color: red;
}

.Hola2{
    background-color: green;
}

.Hola3{
    background-color: blue;
}

.Inline {
    display: inline;
}

.Inline p{
    display: inline;
}

.Block{
    display: block;
}

.Parrafo1{
    background-color: orange;
}

.Parrafo2{
    background-color: red;
}

.Parrafo3{
    background-color: blue;
}

.Parrafo4{
    background-color: purple;
} */








/* 

    ALGUNAS PROPIEDADES MÁS UTILIZADAS

    text-align              Alineación de texto
    color                   Color de la tipografía
    background-color        Color de fondo
    text-transform          Transformación de texto, mayúsculas, minúsculas, cursiva...
    margin                  Distancia desde el borde de un elemento hasta el elemento siguiente
    padding                 Distancia desde el borde de un elemento hasta el borde del mismo
    font-family             Fuente del texto ya vienen algunas integradas
    font-size               Tamaño de la fuente
    border                  Define el borde de un elemento, el ancho
    border-radius           Radio que quiero que me de a los bordes. Redondea
    max-width               Ancho máximo de un elemento
    max-height              Alto máximo de un elemento

    display es como viene por defecto
       
        display: block;            Coge el ancho de la página
        display: inline;           Coge el ancho que necesite


    UNIDADES DE MEDIDA

    Elemento padre es el elemento de un nivel superior
    px      Me da un valor de medida fijo. No es bueno para responsive
    em      Se basa en el tamaño que tiene definido el elemento padre 
    rem     Relativo al documento. El más utilizado. Excepto cuando queremos que tenga una
            medida fija
    1 rem = 16 px


    TIPOS DE SELECTORES
    
    Selectores de elementos:        h1, p... Selecciona todos los elementos
    Selectores de clase:            Hay que definir una clase en el html y para hacerle referencia se le pone un .  Buena práctica
                                    Para actuar sobre un único h2 que está dentro de un div tendrías que poner: .contenedor .rojo {...}. Antes tienes que atribuirle la clase contenedor al div y rojo al h2
                                    .contenedor > h2{...} aplicaría el estilo a todos los h2
    Selectores de ID:               Hay que definir un ID en el html y para hacerle referencia se le pone un #. Son UNICOS 
    Selector de atributo:           A los atributos de las etiquetas se les puede poner

    Los selectores de clase y de ID tienen más especificidad que los de elementos


    EJERCICIO PARA DESCENDIENTES (NO SE HARÍA ASÍ)

    <section class="JM">    
        <section id="Ej5">
            <div class="Div1">
                <div class="Div2">
                    <p></p>
                </div>
                <div class="Div3">
                    <h4></h4>           Cambiarle color
                </div>
            </div>
        </section>
    </section>

    .JM #Ej5 .Div1 .Div3 h4{
        color: blue;
    }


    ESPECIFICIDAD

    Es cómo mi navegador va a interpretar mi código. Pone niveles de importancia !important es la etiqueta más específica que hay. Si podemos no utilizarlo.

    Orden: 
        !important
        ID
        Clases
        Elementos


    COLORES

    Hexadecimal, nombres predefinidos, hsl, rgb
    Transparencia rgba() 1 es opaco 0 es transparente


    VARIABLES

    Para reutilizarla tantas veces como la necesitamos
    No se pueden repetir nombres de variables en la misma hoja
    Colores corporativos
    Tipografía: --tipografiatucarreradigital

    Se escribe lo primero

    :root{
        --nombredevariable: valor;
    }

    var(--nombredevariable);

    AÑADIR FUENTES EXTERNAS

    Google Fonts (también hay google icons)
    Seleccionamos la letra que queramos
    Regular 400
    Copiamos el link y lo pegamos en HTML antes de cargar la hoja de estilo
    Copia el link de reglas CSS


    NORMALIZE

    Sirve para que se vea igual en todos los navegadores

    Buscamos normalize.css
    Copiamos todo y creamos un nuevo archivo llamado normalize.css
    Lo pegamos
    Lo implementamos en index.html encima de todo en el head. Con la precarga y en enlace
        <link rel="preload" href="css/normalize.css" as="style">
        <link href="css/normalize.css" rel="stylesheet">


    
    DISPLAY
    
    Block       Hace que ocupe todo el ancho de la pantalla. El siguiente elemento pasa a la siguiente línea. <p>
    Inline      Tiene su tamaño. El siguiente elemento se posiciona a continuación. <a>

    Para cambiarles la naturaleza hay que ponerle | display:block; | al elemento padre

    display:flex;       
    display:grid;

    FLEXBOX

    Me permite dar forma a los objetos en una única dirección, ya sea fila o columna
    Se utiliza para alinear elementos
    Sustituye a los floats y a los table-cell
    Es Unidimensional
    row = fila              Se aplica por defecto al poner display:flex
    column = columna        
    row-reverse             De izquierda a derecha
    column-reverse          De abajo a arriba

    flex:direction



*/